<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.custom">
<!--    android:sharedUserId="android.uid.system"-->
<!--    android:persistent="true"-->

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CustomDemo">
        <activity
            android:name="com.example.custom.activity.RecyclerViewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.LoginActivity" />

        <activity android:name=".activity.ExcelActivity" />

        <activity android:name=".activity.DownloadActivity" />

        <activity android:name=".activity.WidgetActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="abc" />-->
<!--&lt;!&ndash;                <category android:name="android.intent.category.DEFAULT" />&ndash;&gt;-->
<!--            </intent-filter>-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <action android:name="android.intent.action.SENDTO" />-->
<!--&lt;!&ndash;                <category android:name="android.intent.category.DEFAULT" />&ndash;&gt;-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <data android:scheme="mailto" />-->
<!--            </intent-filter>-->
        </activity>

        <activity
            android:exported="true"
            android:name=".activity.WindowActivity">
            <intent-filter>
                <action android:name="only_action" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="custom.action" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="custom.action0" />
            </intent-filter>
            <intent-filter>
                <action android:name="custom.action_1" />
                <category android:name="custom.category" />
            </intent-filter>
            <intent-filter>
                <action android:name="custom.action_2" />
                <category android:name="custom.category" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.EditTextActivity">
            <intent-filter>
                <action android:name="myaction2" />

                <category android:name="mycategory1" />
                <category android:name="mycategory2" />
                <category android:name="mycategory3" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:scheme="my_scheme"
                    android:host="my_host"
                    android:path="/my_path"
                    android:mimeType="*/*"
                    />
            </intent-filter>
            <intent-filter>
                <action android:name="myaction3" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.CustomViewActivity">
            <intent-filter>
                <action android:name="my_action1" />
                <category android:name="my_category1" />
                <category android:name="my_category2" />
                <category android:name="my_category3" />
                <category android:name="my_category4" />
                <category android:name="my_category5" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="my_action1" />
                <category android:name="my_category5" />
                <category android:name="my_category6" />
                <category android:name="my_category7" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.StyleActivity" />
        <activity android:name=".activity.LockPatternActivity" />

        <activity android:name=".activity.WelcomActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.AnimatorActivity" />
        <activity android:name=".activity.BezierActivity" />
        <activity android:name=".activity.DealWithActivity"
            android:label="BroadcastActivity_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.IntentActivity"
            android:label="IntentActivity_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.ImmersionCodeActivity" />
        <activity android:name=".activity.ImmersionColorActivity" android:theme="@style/TranslucentTheme" />
        <activity android:name=".activity.ImmersionPictureActivity" android:theme="@style/TranslucentTheme" />
        <activity android:name=".activity.FragmentActivity"
            android:label="test_activity_label"
            android:theme="@style/layout_activity_title"
            />

        <activity android:name=".activity.SettingsActivity" />

        <receiver
            android:exported="true"
            android:name="com.example.custom.receiver.CustomReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.action.PARTNER_CUSTOMIZATION" />      <!-- 要在其他工程中使用该action，需设置为系统apk -->
            </intent-filter>
        </receiver>

        <service android:name=".service.CustomService" />

        <receiver android:name=".CustomAppWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/samplewidget" />
        </receiver>
    </application>

</manifest>